@*@typeparam TItem
	@using Models

	<table class="table">
		<TableHeader Columns=@Columns  />
		<TableBody Columns=@Columns Data="@Data" />
	</table>

	@code{
		[Parameter]
		public List<Column> Columns { get; set; }
		[Parameter]
		public string sortColumn { get; set; }
		[Parameter]
		public string onSort { get; set; }
		[Parameter]
		public IReadOnlyList<TItem> Data { get; set; }
	}*@

@typeparam TItem

<table class="table">
	<thead>
		<tr>@Header</tr>
	</thead>
	<tbody>
		@foreach (var item in Items)
		{
			<tr>@Row(item)</tr>
		}
	</tbody>
</table>

@code {
	[Parameter]
	public RenderFragment Header { get; set; }

	[Parameter]
	public RenderFragment<TItem> Row { get; set; }

	[Parameter]
	public IEnumerable<TItem> Items { get; set; }
}